UPSTAGE_API_KEY=up_IYpi1MOSe9fwk7npC7rXyYMYQCSBr
UPSTAGE_MODEL=solar-pro3
DOCUMENT_PIPELINE_MODE=python
SUPABASE_URL=https://rzxnzqiicqirelocnpao.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6eG56cWlpY3FpcmVsb2NucGFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTMxODQ1MSwiZXhwIjoyMTAwODk0NDUxfQ.WY3k3QXBvRxnRBd5Fd7V5t3wuu5IzHptrQHqOCx9S8I